@use "./level-utils.scss" as levelUtils;

/// Emit css content and selector if not content only.
/// Emits nothing if level is not allowed.
/// Emits nested if level should emit nested.
/// @param {string} $level - The level to emit.

@mixin emit($level) {
  $contentOnly: levelUtils.is-level-content-only($level) or levelUtils.get-level-content-only($level);
  $isAllowed: levelUtils.is-level-allowed($level);
  $selector: levelUtils.get-level-selector($level);
  $shouldEmitNested: levelUtils.should-level-emit-nested($level);

  @if $isAllowed {
    @if $contentOnly {
      @content;
    } @else {
      @if $shouldEmitNested {
        #{$selector} {
          @content;
        }
      } @else {
        &#{$selector} {
          @content;
        }
      }
    }
  }
}
