@use "sass-true" as *;
@use "../_core-funcs" as coreFuncs;
@use "_test-mixins" as TestMixins;
@use "../globals" as globals;
@use "../helpers" as helpers;
@use "../rules" as rules;
@use "../process" as process;
@use "../output" as output;
@use "sass:map";
@use "sass:meta";
@use "sass:list";

/// clear globals etc after each test;
@function after-each() {
  $void: globals.update-controllers([]);
  @return false;
}

@function verify-controller($controller) {
  @if $controller == null {
    @error "Controller is null";
    @return null;
  }
  $levels: map.get($controller, "levels");
  $rules: map.get($controller, "rules");
  $config: map.get($controller, "config");
  @if meta.type-of($levels) != "list" {
    @error "Levels is not a list";
    @return null;
  }
  @if meta.type-of($rules) != "map" {
    @error "Rules is not a map";
    @return null;
  }
  @if meta.type-of($config) != "map" {
    @error "Config is not a map";
    @return null;
  }
  @return $controller;
}

@include describe("_core-funcs.scss") {
  @include it("init-multi-sass initializes the multi-sass controller with correct config and returns it.") {
    $args: (
      "block": "test-block",
      "config": (
        "customConfig": true,
      ),
    );
    $result: coreFuncs.init-multi-sass($args...);
    $expectedConfig: (
      "blockName": "test-block",
      "blockPrefix": globals.$BLOCK-PREFIX,
      "modifierDelimeter": globals.$MODIFIER-DELIMETER,
      "elementDelimeter": globals.$ELEMENT-DELIMETER,
      "emitContentOnly": null,
      "selectorMiddleware": null,
      "customConfig": true,
    );

    @include assert-equal(map.get($result, "config"), $expectedConfig);
    $void: verify-controller(globals.get-current-controller());
    $void: after-each();
  }

  @include it("end-multi-sass removes the current multi-sass controller and returns list of controllers") {
    $args: (
      "block": "test-block",
    );
    $void: coreFuncs.init-multi-sass($args...);
    @include assert-equal(list.length(globals.get-controllers()), 1);
    $void: coreFuncs.init-multi-sass($args...);
    @include assert-equal(list.length(globals.get-controllers()), 2);
    $result: coreFuncs.end-multi-sass();
    @include assert-equal(list.length(globals.get-controllers()), 1);
    $result: coreFuncs.end-multi-sass();
    @include assert-equal(list.length(globals.get-controllers()), 0);
    @include assert-equal(list.length($result), 0);
    $void: after-each();
  }

  @include it("multi-sass mixin calls init-multi-sass and end-multi-sass and emits content ") {
    $args: (
      "block": "test-block",
    );
    @include assert {
      @include output {
        @include coreFuncs.multi-sass($args...) {
          div {
            --multi-sass: var(--var-multi-sass);
          }
        }
      }

      @include expect {
        div {
          --multi-sass: var(--var-multi-sass);
        }
      }
    }

    @include assert-equal(list.length(globals.get-controllers()), 0);
    $levels: globals.get-multi-sass-levels();
    @include assert-equal(list.length($levels), 0);
    $void: after-each();
  }

  @include it("start-emit-end mixin creates a level and emits CSS correctly") {
    $void: coreFuncs.init-multi-sass(
      $modifiers: true,
      $elements: true,
      $extras: true,
      $block: "myBlock",
      $config: (
        "blockPrefix": "block-prefix-",
      ),
    );
    @include assert {
      @include output {
        @include coreFuncs.start-emit-end(
          (
            "block": "block-name",
          )
        ) {
          div {
            --start-emit-end: var(--var-start-emit-end);
          }
        }
      }
      @include expect {
        .block-prefix-block-name div {
          --start-emit-end: var(--var-start-emit-end);
        }
      }
    }

    $void: verify-controller(globals.get-current-controller());
    $levels: globals.get-multi-sass-levels();
    @include assert-equal(list.length($levels), 0);
    $void: after-each();
  }
  @include describe("emitContentOnlychanges how root css is emitted") {
    @include it("with value null, output is normal") {
      @include assert {
        @include output {
          @include TestMixins.TestEmitContentOnly;
        }
        @include expect {
          .myBlock {
            --block: var(--var-block);
          }

          .myBlock__content {
            --element-content: var(--var-element-content);
          }

          .myBlock--modifier {
            --modifier-content: var(--var-modifier-content);
          }

          .myBlock--modifier__content {
            --modifier-element-content: var(--var-modifier-element-content);
          }

          .myBlock div {
            --block-div: var(--var-block-div);
          }

          div {
            --root-div: var(--var-root-div);
          }
        }
      }
    }
    @include it("with value 'all', all rules are outputted to parent/wrapper") {
      @include assert {
        @include output {
          .wrapper {
            @include TestMixins.TestEmitContentOnly("all");
          }
        }
        @include expect {
          .wrapper {
            --block: var(--var-block);
            --element-content: var(--var-element-content);
            --modifier-content: var(--var-modifier-content);
            --modifier-element-content: var(--var-modifier-element-content);
          }

          .wrapper div {
            --block-div: var(--var-block-div);
          }
          .wrapper div {
            --root-div: var(--var-root-div);
          }
        }
      }
    }
    @include it("with value 'root', root selectors are not outputted and  all rules are outputted to parent/wrapper") {
      @include assert {
        @include output {
          .wrapper {
            @include TestMixins.TestEmitContentOnly("root");
          }
        }
        @include expect {
          .wrapper {
            --block: var(--var-block);
          }

          .wrapper__content {
            --element-content: var(--var-element-content);
          }

          .wrapper--modifier {
            --modifier-content: var(--var-modifier-content);
          }

          .wrapper--modifier__content {
            --modifier-element-content: var(--var-modifier-element-content);
          }

          .wrapper div {
            --block-div: var(--var-block-div);
          }

          .wrapper div {
            --root-div: var(--var-root-div);
          }
        }
      }
    }
    @include it("rules with emitContentOnly can output any part to new selector.") {
      @include assert {
        @include output {
          .modifier-only {
            @include TestMixins.TestEmitContentOnly(
              "all",
              (
                modifier: (
                  "content": false,
                ),
              ),
              false,
              false
            );
          }
        }
        @include expect {
          .modifier-only {
            --modifier-content: var(--var-modifier-content);
          }
        }
      }
    }
  }
}
